a.exe
*.json
# hasil.exe
# result.exe
file.exe
# compiled.p

*.exe
*.o
*.p
compiling/*.o
compiling/*.p
compiling/*.exe
compiling/compile.o
compiling/compiled.p
data_types/*.o
data_types/*.p
data_types/*.exe